# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.cargo/

# Build outputs
dist
dist-ssr
target/
**/*.rs.bk
Cargo.lock
tourney-site.zip

# Local files
*.local
.DS_Store
.env
.env.*

# Public Self/Test Configs
public/self_config/*
public/test_config/*

# Testing
/coverage
/cypress/videos/
/cypress/screenshots/

# Editor and IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
