[data-theme='dark'] {
  .ant-layout-content {
    background: var(--theme-black);
    filter: brightness(calc(2 - var(--theme-brightness-shift)));
  }

  * {
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }
}
